body {
    background-color: #1c162f;
    margin: 0;
    padding: 0;
    /* position: relative; */
    box-sizing: border-box;
  }
  
  header {
    background-color: #282244;
  }
  
  nav,
  .items,
  .hire {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  nav {
    margin: 0 5rem 5rem 5rem;
    justify-content: space-between;
  }
  
  .logo {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 2rem;
    display: flex;
  }
  
  .items li,
  .hire {
    font-size: 0.9rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-right: 1.5rem;
    color: white;
    cursor: pointer;
  }
  
  .hire {
    background: #ee6a51;
    color: white;
    padding: 2 rem;
    border-radius: 5%;
    font-size: 20px;
  }
  
  .resume {
    background: #ee6a51;
    color: white;
    padding: 1.5rem;
    font-size: 20px;
    border: none;
  }
  
  .contact {
    padding: 1.5rem;
    background-color: #282244;
    color: white;
    font-size: 20px;
    border: none;
  }
  
  main {
    color: white;
    margin-left: 5rem;
    display: flex;
  }
  
  .text {
    padding: 50px;
    margin: 10px 20px 10px 20px;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
  }
  
  .first {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(238, 106, 81, 0.05);
    position: absolute;
  }
  
  .nav_one {
    top: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
  }
  
  .image {
    margin-left: 2em;
  }
  
  .second {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 6rem;
    top: 50%;
    background: rgba(238, 106, 81, 0.05);
    /* position: absolute; */
  }
  
  .third {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 6rem;
    top: 10%;
    border: 3px dotted white;
    position: absolute;
    z-index: -3;
  }
  
  .fourth {
    width: 450px;
    height: 400px;
    position: absolute;
    border-radius: 150em;
    margin-right: 6rem;
    top: 50%;
    background: #ee6a51;
    z-index: -1;
  }
  
  .img {
    position: relative;
    z-index: 7;
    top: 20px;
  }